h1 {
    color: #525252;
}

.spinner-block {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
    opacity: 0.5;
    top: 0;
}

.spinner-loader {
    position: absolute;
    left: calc(50% + 50px);
    top: calc(50% - 50px);
}

.tr-odd tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.tr-odd tbody tr:nth-child(even):hover {
    background-color: white !important;
}

.tr-odd tbody tr:nth-child(odd):hover {
    background-color: #F8F8F8 !important;
}

.custom-main-color {
    background-color: #edf4f8;
}

tbody tr button:hover {
    background-color: #EBEDF0;
}

