
.v-radio {
  opacity: 0.4;
}

.edit_lang-ru {
  background-image: url('../img/ru.svg');
}

.edit_lang-ua {
  background-image: url('../img/ua.svg');
}

.v-selection-control--dirty {
  opacity: 1;
}
